
<p id="notice"><%= notice %></p>

<h1>Listing Bankslips</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Father's Name</th>
      <th>Department</th>
      <th>Purpose</th>
      <th>Bank</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankslips.each do |bankslip| %>
      <tr>
        <td><%= bankslip.aname %></td>
        <td><%= bankslip.fname %></td>
        <td><%= bankslip.department.dname %></td>
        <td><%= bankslip.purpose.pname %></td>
        <td><%= bankslip.bank.bname %></td>
        <td><%= bankslip.amount %></td>
        <td><%= link_to 'Show', bankslip %></td>
        <td><%= link_to 'Edit', edit_bankslip_path(bankslip) %></td>
        <td><%= link_to 'Destroy', bankslip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bankslip', new_bankslip_path %>

