<p id="notice"><%= notice %></p>

<ul>
    <li class="list-1">
        Depositer Copy - 1
        <%= render 'datatable' %>
    </li>
    <li class="list-2">
        Attached with Exam/Admission Form - 2
        <%= render 'datatable' %>
    </li>
    <li class="list-3">
        UoB Copy - 3
        <%= render 'datatable' %>
    </li>
    <li class="list-4">
        Bank Copy - 4
        <%= render 'datatable' %>
    </li>
    
</ul>











<!--
<%= link_to 'Edit', edit_bankslip_path(@bankslip) %> |
<%= link_to 'Back', bankslips_path %>
-->